# pipemenu.rc holds extra applications to add to the Openbox pipemenus
# Edit the arrays to add package names, making sure there are spaces
# between each entry.
# EXAMPLE:
# ARRAY_NAME=( package1 package2 )

# Multimedia pipemenu (bl-multimedia-pipemenu)
MM_APPS=()
MM_EDITORS=()
MM_UTILS=()

# Graphics pipemenu (bl-graphics-pipemenu)
GRAPHICS_APPS=()
GRAPHICS_SCROTS=()

# Browsers pipemenu (bl-x-www-browser-pipemenu)
BROWSERS=()

## If any of your added packages needs to be launched by a command
## different from its name,
## uncomment the line below and put it in the associative array,
## like: user_package_commands=([package1]='command1' [package2]='command2')

#user_package_commands=([mpv]='bl-mpv')
