[Desktop Entry]
Version=1.0
Type=Application
Name=BL File Manager
Comment=The BunsenLabs default, bl-file-manager
GenericName=File Manager
Exec=bl-file-manager %F
Icon=system-file-manager
Terminal=false
Categories=System;Utility;Core;FileTools;FileManager;
MimeType=inode/directory;
