[Desktop Entry]
Version=1.0
Type=Application
Name=Default Menu
GenericName=Application Menu
Comment=Displays suitable applications menu for current session
Exec=bl-menu
Terminal=false
Icon=bunsenlabs
Categories=System
StartupNotify=false
