[Desktop Entry]
Version=1.0
Type=Application
Name=X Terminal Emulator
Comment=Invoke x-terminal-emulator
GenericName=Terminal Emulator
Exec=x-terminal-emulator
Icon=utilities-terminal
Terminal=false
Categories=Utility;TerminalEmulator;
