[Desktop Entry]
Version=1.0
Type=Application
Name=BL Text Editor
Comment=The BunsenLabs default, bl-text-editor
GenericName=Text Editor
Exec=bl-text-editor %F
Icon=accessories-text-editor
Terminal=false
Categories=Development;Utility;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
