[Desktop Entry]
Version=1.0
Type=Application
Name=X Web Browser
Comment=Invoke x-www-browser
GenericName=Web Browser
Exec=x-www-browser %u
Icon=applications-internet
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;
