file:///home/%USERNAME%/Documents
file:///home/%USERNAME%/Downloads
file:///home/%USERNAME%/Music
file:///home/%USERNAME%/Pictures
file:///home/%USERNAME%/Videos
file:///home/%USERNAME%/bin
file:///home/%USERNAME%/tmp
