! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


! urxvt -------------------------------------------

URxvt.font: xft:Monospace:size=11
URxvt.boldFont: xft:Monospace:Bold:size=11
URxvt.letterSpace: -2
! Add fallback fonts as laid out in `man 1 urxvt` under "font:" in the RESOURCES section

! Window size and position
!URxvt*geometry: 60x22+50+100
! Window size, let the Window Manager position it
URxvt.geometry: 94x33

URxvt.scrollstyle: plain
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.iconFile: /usr/share/icons/Paper/48x48/apps/utilities-terminal.png
URxvt.cursorBlink: true
URxvt.fading: 20

! Grey theming
!URxvt*background: #cecece
!URxvt*foreground: #101010
! Terminator Crunchbang colours
URxvt.background: [90]#2e3436
URxvt.foreground: #d8d8d8

! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines: 16384

! True Transparency, opacity percentage set in square brackets before URxvt.background colour
URxvt.depth: 32

! Clickble URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.button:3

! Custom colourscheme, see http://terminal.sexy/ for more ideas.

! Black
URxvt.color0: #000000
URxvt.color8: #555753

! Red
URxvt.color1: #cc0000
URxvt.color9: #ef2929

! Green
URxvt.color2: #4e9a06
URxvt.color10: #8ae234

! Yellow
URxvt.color3: #c4a000
URxvt.color11: #fce94f

! Blue
URxvt.color4: #3465a4
URxvt.color12: #729fcf

! Magenta
URxvt.color5: #75507b
URxvt.color13: #ad7fa8

!Cyan
URxvt.color6: #06989a
URxvt.color14: #34e2e2

! White
URxvt.color7: #d3d7cf
URxvt.color15: #eeeeec

! Colourised man pages, also changes scheme for htop(1) and others.
!
! Headings:
! URxvt.colorBD: #cf6171
!
! Underline:
! URxvt.colorUL: #4186be
!
! Italicised:
! URxvt.colorIT: #71bebe
