Source: bunsen-configs
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9), config-package-dev (>= 5.1), help2man
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-configs
Vcs-Git: https://github.com/BunsenLabs/bunsen-configs.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-configs

Package: bunsen-configs
Architecture: all
Depends: ${misc:Depends}
Recommends: bunsen-configs-pulse, bunsen-utilities, bunsen-pipemenus, bunsen-docs, bunsen-images, bunsen-themes, bunsen-paper-icon-theme, bunsen-conky, lightdm, openbox, nitrogen, scrot, yad, bunsen-thunar, pnmixer, clipit, xcape
Suggests: qt5-style-plugins, libqt5svg5
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Replaces: bunsen-utilities (<< 0.3-6)
Breaks: bunsen-utilities (<< 0.3-6)
Description: config files for BunsenLabs Linux
 Various configuration files for BunsenLabs Linux.
 Contains user config files to be copied into a new user's home directory,
 scripts and desktop files to set up the bl-alternatives system,
 and some other system configuration files.
