Source: bunsen-configs
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13), help2man, python3, python3-xdg
Rules-Requires-Root: no
Standards-Version: 4.6.1.0
Homepage: https://github.com/BunsenLabs/bunsen-configs
Vcs-Git: https://github.com/BunsenLabs/bunsen-configs.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-configs

Package: bunsen-configs
Architecture: all
Depends: ${misc:Depends}
Recommends: bunsen-conky (>= 11.1-1),
 bunsen-docs,
 bunsen-images (>= 11.3-1),
 bunsen-numix-icon-theme,
 bunsen-pipemenus,
 bunsen-themes (>= 11.1-1),
 bunsen-thunar,
 bunsen-utilities (>= 11.1-1),
 colordiff,
 dmz-cursor-theme,
 inxi,
 jgmenu (>= 4.2),
 lightdm,
 lightdm-gtk-greeter,
 lightdm-gtk-greeter-settings,
 nitrogen,
 openbox,
 picom,
 pnmixer,
 polkitd-pkla,
 python3,
 python3-xdg,
 scrot,
 sensible-utils,
 tint2,
 xbindkeys,
 xfce4-appfinder,
 xcape,
 yad
Suggests: bunsen-blob,
 fonts-noto,
 fonts-symbola,
 qt5-gtk-platformtheme,
 qt5-style-plugins,
 libqt5svg5,
 librsvg2-common,
 material-solarized-suruplusplus-icon-theme,
 tk,
 xfce4-clipman,
 xfce4-notifyd,
 xfce4-screenshooter
Replaces: bunsen-configs-lite, bunsen-conky (<< 11.1-1)
Breaks: bunsen-conky (<< 11.1-1)
Provides: ${diverted-files}
Conflicts: ${diverted-files}, bunsen-configs-lite
Description: config files for BunsenLabs Linux
 Various configuration files for BunsenLabs Linux.
 Contains user config files to be copied into a new user's home directory,
 scripts and desktop files to set up the bl-alternatives system,
 and some other system configuration files.

Package: bunsen-configs-lite
Architecture: all
Depends: ${misc:Depends}
Recommends: bunsen-conky,
 bunsen-docs,
 bunsen-images,
 bunsen-numix-icon-theme,
 bunsen-pipemenus,
 bunsen-themes,
 bunsen-thunar,
 bunsen-utilities,
 dmz-cursor-theme,
 jgmenu (>= 4.2),
 lightdm,
 lightdm-gtk-greeter,
 lightdm-gtk-greeter-settings,
 nitrogen,
 openbox,
 pnmixer,
 polkitd-pkla,
 python3,
 python3-xdg,
 scrot,
 sensible-utils,
 tint2,
 xbindkeys,
 xcape,
 yad
Suggests: bunsen-blob,
 fonts-liberation,
 fonts-inconsolata,
 qt5-gtk-platformtheme,
 qt5-style-plugins,
 libqt5svg5,
 librsvg2-common,
 tk,
 xfce4-appfinder,
 xfce4-clipman,
 xfce4-notifyd,
 xfce4-screenshooter
Provides: ${diverted-files}
Replaces: bunsen-configs, bunsen-conky (<< 11.1-1)
Breaks: bunsen-conky (<< 11.1-1)
Conflicts: ${diverted-files}, bunsen-configs
Description: lightened config files for BunsenLabs Linux
 Various configuration files for BunsenLabs Linux.
 Contains user config files to be copied into a new user's home directory,
 scripts and desktop files to set up the bl-alternatives system,
 and some other system configuration files.
 .
 This package provides some modified files for a light system.
 Memory usage and disk space should be slightly lower
 than with the standard configs package.
