#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install -X .gitignore

override_dh_installman:
	debian/genman.sh
	dh_installman

override_dh_clean:
	dh_clean
	debian/genman.sh --clean

override_dh_link:
	# workaround dh_link conversion of absolute symlinks to relative symlinks
	dh_link -Xbunsen
